<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Proyecto Ionic</ion-card-subtitle>
      <ion-card-title>Info Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="mostrar">
        <ion-item *ngFor="let info of listaInfo" (click)="mostrarAlerta()">
          <ion-avatar slot="start">
            <img src="assets/img/Git.png"/>
          </ion-avatar>
          <ion-label>{{info}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-button (click)="mostrarLista()">
        <ion-icon name="log-in">mostrar</ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>