<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Proyecto Ionic</ion-card-subtitle>
      <ion-card-title>Info Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let info of listaInfo" (click)="mostrarAlerta()">
          {{info}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>